<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'styles_feedback.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <script src="https://unicons.iconscout.com/release/v4.0.8/script/monochrome/bundle.js" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />


    <titulo>Responder Questionário</titulo>
    <style>
        input[type="radio"] {
            border: 2px solid black;
        }
    </style>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body class="bg-gradient">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img src="{% static '/images/logo.png' %}" alt="mdo" width="35" height="35" class="">
                    </a>
                </li>
            </ul>
            <div class="d-flex gap-2">
                <div class="flex-fill">
                    <style>
                        .btn-custom {
                            width: 100px;
                        }
                    </style>
                    <button type="button" class="btn btn-warning btn-custom">
                        <a class="nav-link">
                            Admin
                        </a>
                    </button>
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-danger btn-custom">
                        <a class="nav-link">Sair</a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}

    <main class="d-flex">
        <nav class="sidebar shaded-box">
            <a onclick="showSection('feedback')"><i class="uil uil-file-search-alt"></i></a>
            <!-- {% if usuairo.id == setor %}
                <a onclick="showSection('mail')"><i class="uil uil-envelope"></i></a>
            {% endif %} -->
            <a id="loadData" onclick="showSection('historic')"><i class="uil uil-copy-landscape"></i></a>
        </nav>
        <div class="toggle-nav" id="toggleNavButton" onclick="toggleNav()"><i class="uil uil-arrow-right"></i></div>
        <div class='cont'>
            <div id="Details" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" onclick="fecharModal()">&times;</span>
                    <h1 id="titulo"></h1>
                    <p id="datahora"></p>
                    <h5>Área</h5>
                    <p id="area"></p>
                    <h5>Descrição</h5>
                    <p id="descricao"></p>
                    <h5>Status</h5>
                    <ul>
                        <li id="status"></li>
                    </ul>
                </div>
            </div>

            <section id='feedback' class="form-container pt-2 pr-2 pl-2 pb-0">
                <form method="POST" action="{% url 'salvarAnswer' %}" class="p-4 rounded">
                    {% csrf_token %}
                    <div class="mb-1 d-flex flex-column align-items-center">
                        <h1 class="mb-4">{{ u_questionario.nome }}</h1>
                    </div>
                    {% for quest in quests %}
                    <div class="mb-3">
                        {% if quest.tipo.tipo == "Resposta Curta" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.titulo }}</label>
                        <input type="text" name="titulo" id="{{ quest.id }}" placeholder="{{ quest.titulo }}"
                            class="form-control" required>
                        {% elif quest.tipo.tipo == "Dropdown" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.titulo }}</label>
                        <select name="area" id="{{ quest.id }}" class="form-select" required>
                            <option value=""></option>
                            {% for area in areas %}
                            <option value="{{ area.id }}">{{ area.area }}</option>
                            {% endfor %}
                        </select>
                        <input type="button" onclick="openMap()">Selecionar Local
                        {% elif quest.tipo.tipo == "Resposta Longa" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.titulo }}</label>
                        <textarea id="{{ quest.id }}" name="descricao" maxlength="3000" rows="2" cols="50" class="form-control" 
                            placeholder="{{ quest.titulo }}" required ></textarea>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="arrayP" id="arrayP" value="">
                    <input type="hidden" name="idQuestionario" id="idQuestionario" value="{{ u_questionario.id }}">
                    <div class="d-flex flex-column align-items-center">
                        <button type="submit" class="btn btn-primary">Enviar Resposta</button>
                    </div>
                </form>
            </section>

            

            <section id='mail' class="hide">
                {% if mails %}
                {% for mail in mails %}
                <div class="form-check">
                    <input type="checkbox" name="{{ quest.id }}" value="{{ alternative.titulo }}"
                        id="alt_{{ alternative.id }}" class="form-check-input">
                    <label for="alt_{{ alternative.id }}" class="form-check-label">{{ alternative.titulo}}</label>
                </div>
                {% endfor %}
                {% else %}
                <h1>Você ainda não recebeu nenhum feedback</h1>
                {% endif %}
            </section>

            <section id='historic' class="d-flex align-items-center flex-column hide">
                {% if historic %}
                {% for h in historic %}
                <div class="d-flex flex-column card2"
                    onclick="showDetails('{{h.titulo}}', '{{h.datahora}}', '{{h.area.area}}', '{{h.status.status}}', '{{h.descricao}}')">
                    <div class="h d-flex justify-content-between align-items-center">
                        <h3>{{ h.titulo }}</h3>
                        <p>{{ h.datahora|time:'H:i' }} - {{ h.datahora|date:'d/m/Y' }}</p>
                    </div>
                    <div class="b d-flex justify-content-between">
                        <p>{{ h.area }}</p>
                        <ul>
                            <li class="status">{{ h.status }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1>Você ainda não enviou nenhum feedback</h1>
                {% endif %}
            </section>
        </div>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        function showSection(section) {
            var div = document.querySelector('.cont');
            var sections = div.querySelectorAll('section');
            sections.forEach(function (sectionElement) {
                if (sectionElement.id === section) {
                    sectionElement.classList.remove('hide');
                } else {
                    sectionElement.classList.add('hide');
                }
            });
        }

        function showDetails(titulo, time, area, status, descricao) {
            var modal = document.getElementById('Details');
            modal.style.display = 'flex';

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            document.getElementById('titulo').textContent = titulo;
            document.getElementById('datahora').textContent = time;
            document.getElementById('area').textContent = area;
            document.getElementById('status').textContent = status;
            document.getElementById('descricao').textContent = descricao;

            if (status == "Não Respondida") {
                cor = 'blue';
            } else if (status == "Em Andamento") {
                cor = 'yellow';
            } else if (status == "Não Resolvido") {
                cor = 'red';
            } else if (status == "Resolvido") {
                cor = 'green';
            }
            document.getElementById('status').style.color = cor;
        }

        function fecharModal() {
            var modal = document.getElementById('Details');
            modal.style.display = 'none';
        }

        window.onload = function () {
            var historic = document.getElementById('historic');
            var status = historic.querySelectorAll('.status')
            status.forEach(function (element) {
                var cor;
                var texto = element.textContent;
                if (texto == "Não Respondida") {
                    cor = 'blue';
                } else if (texto == "Em Andamento") {
                    cor = 'yellow';
                } else if (texto == "Não Resolvido") {
                    cor = 'red';
                } else if (texto == "Resolvido") {
                    cor = 'green';
                }
                element.style.color = cor;
            })
        }

        var contDiv = document.querySelector('.cont');

        function toggleNav() {
            var nav = document.querySelector('.sidebar');
            nav.classList.toggle('open'); // Adiciona ou remove a classe "open"

            var toggleNavButton = document.getElementById('toggleNavButton');
            // Adicione ou remova a classe "rotated" para controlar a rotação do botão
            toggleNavButton.classList.toggle('rotated', nav.classList.contains('open'));
        }

        var map;

        function openMap() {
            map = L.map('map').setView([0, 0], 2);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var marker = L.marker([0, 0], {
                draggable: true,
                title: 'Arraste para Selecionar o Local'
            }).addTo(map);

            marker.on('dragend', function (event) {
                var markerLocation = marker.getLatLng();
                alert('Latitude: ' + markerLocation.lat + ', Longitude: ' + markerLocation.lng);
            });
        }
    </script>

</body>

</html>