<!DOCTYPE html>
<html lang="pt-br">
{% load static %}






<!-- e15 = 1
e14 = 1

e13 = 1
e12 = 1


imp e13 = 1

2-)
LG e15
COP e15 e12
e14 = 1
SE e12 = 1 e8
SUB e12 e14 e12
MUL e15 e12 e15
VA e4
IMP e15
PARE -->









<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles_feedback.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <script src="https://unicons.iconscout.com/release/v4.0.8/script/monochrome/bundle.js"/>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Responder Questionário</title>
    <style>
        input[type="radio"] {
            border: 2px solid black;
        }
    </style>
</head>

<body class="bg-gradient">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-0 me-md-auto fw-bold" href="#">
            Feedback
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a onclick="showSection('feedback')"><i class="uil uil-file-search-alt"></i></a>
                </li>
                {% if Eadm %}
                <li class="nav-item">
                    <a onclick="showSection('mail')"><i class="uil uil-envelope"></i></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a id="loadData" onclick="showSection('historic')"><i class="uil uil-copy-landscape"></i></a>
                </li>
            </ul>
            <div class="col-12 col-md-2 text-md-end">
                {% if user.is_authenticated %}
                    <a href="" class="btn btn-outline-light" role="button" id="logout">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}

    <main class="d-flex">
            <div id="Details" class="modal" style="display: none;">
                <div id="modal-content" class="modal-content">
                    <span class="close" onclick="fecharModal('Details')">&times;</span>
                    <h1 id="titulo"></h1>
                    <div class="informacoes">
                        <p id="datahora2"></p>
                        <h5>Área</h5>
                        <p id="area"></p>
                        <h5>Local</h5>
                        <p id="local"></p>
                        <h5>Descrição</h5>
                        <p id="descricao"></p>
                        <h5>Status</h5>
                        <ul>
                            <li id="status"></li>
                        </ul>
                        <div class="imagem">
                            <h5>Imagem</h5>
                            <img id="imagem">
                        </div>
                        <div id="comentarios_container" class="d-flex flex-column gap-2">
                        </div>
                        <form method="post" id="form">
                        {% csrf_token %}
                            <div class="comentario">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-secondary text-light rounded-circle" id="basic-addon1">&#9786;</span>
                                    <!-- <img src="caminho/para/a/imagem.jpg" alt="Foto da pessoa" class="img-fluid" /> -->
                                    <input type="text" class="form-control rounded-left" name="texto" id="texto" placeholder="Digite seu comentário" aria-label="Digite seu comentário" aria-describedby="button-addon">
                                    <input type="hidden" name="feedback_id" id="feedback_id">
                                    {% if Eadm %}
                                        <input type="hidden" name="log2" id="log2" value="adm">
                                    {% else %}
                                        <input type="hidden" name="log2" id="log2" value="usuario_comum">
                                    {% endif %}
                                    <button class="btn btn-outline-secondary" type="button" onclick="salvarComentario()" id="button-addon">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <section id='feedback' class="form-container hide">
                <form method="POST" action="{% url 'salvarAnswer' %}" class="p-4" onsubmit="atualizarCamposHidden()">
                    {% csrf_token %}
                    <div class="mb-1 d-flex flex-column align-items-center">
                        <h1 class="mb-4">{{ u_questionario.nome }}</h1>
                    </div>
                    {% for quest in quests %}
                    <div class="mb-3">
                        {% if quest.tipo.tipo == "Resposta Curta" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.titulo }}</label>
                        <input type="text" name="{{ quest.id }}" id="{{ quest.id }}" placeholder="{{ quest.titulo }}"
                            class="form-control questao" required>
                        {% elif quest.tipo.tipo == "Dropdown" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.titulo }}</label>
                        <select name="{{ quest.id }}" id="{{ quest.id }}" class="form-select questao" required>
                            <option value=""></option>
                            {% if quest.area %}
                            {% for area in areas %}
                            <option value="{{ area.id }}">{{ area.area }}</option>
                            {% endfor %}
                            {% elif quest.local %}
                            {% for local in locais %}
                            <option value="{{ local.id }}">{{ local.local }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        {% elif quest.tipo.tipo == "Resposta Longa" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.titulo }}</label>
                        <textarea id="{{ quest.id }}" name="{{ quest.id }}" maxlength="3000" rows="2" cols="50" class="form-control questao" 
                            placeholder="{{ quest.titulo }}" required ></textarea>
                        {% elif quest.tipo.tipo == "Imagem" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.titulo }}</label>
                        <input type="file" name="{{ quest.id }}" id="{{ quest.id }}" accept="image/*" class="form-control questao">
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="arrayP" id="arrayP" value="">
                    {% if Eadm %}
                    <input type="hidden" name="log" id="log" value="adm">
                    {% else %}
                    <input type="hidden" name="log" id="log" value="user">
                    {% endif %}
                    <div class="d-flex flex-column align-items-center">
                        <button type="submit" class="btn btn-primary">Enviar Resposta</button>
                    </div>
                </form>
            </section>

            {% if Eadm %}
            <section id='mail' class="flex-column align-items-center gap-4">
                <select name="area" id="areaId" onchange="myFunction()">
                    <option value=""></option>
                    {% for area in areas %}
                        <option value="{{ area.id }}">{{ area.area }}</option>
                    {% endfor %}
                </select>
                        <div id="feedback-list" class="gap-1 feedback-list">
                            {% if mails %}
                            {% for mail in mails %}
                            <div class="d-flex card2" 
                            onclick="showDetails('{{mail.id}}')">
                                <p class="status">{{ mail.status }}</p>
                                <h4 class="textinho" >{{ mail.titulo }}</h4>
                                <p class="textinho">{{ mail.descricao }}</p>
                                {% if mail.datahora|date:'d/m/Y' == hoje %}
                                    <p>{{ mail.datahora|time:'H:i' }}</p>
                                {% else %}
                                    <p>{{ mail.datahora|date:'d/m/Y' }}</p>
                                {% endif %}                            
                            </div>
                            {% endfor %}
                            {% else %}
                            <h1>Você ainda não recebeu nenhum feedback</h1>
                            {% endif %}
                        </div>
                    </section>
            {% endif %}
                        

            <section id='historic' class="flex-column align-items-center gap-3 hide">
                <div class="gap-1 feedback-list">
                {% if historic %}
                {% for h in historic %}
                <div class="d-flex card2"
                onclick="showDetails('{{h.id}}', '{{h.titulo}}', '{{h.datahora}}', '{{h.area}}', '{{h.local}}', '{{h.status}}', '{{h.descricao}}', '{{h.imagem}}')">
                    <p class="status">{{h.status}}</p>
                    <h4 class="textinho" >{{ h.titulo }}</h4>
                    <p class="textinho">{{ h.descricao }}</p>
                    {% if h.datahora|date:'d/m/Y' == hoje %}
                        <p>{{ h.datahora|time:'H:i' }}</p>
                    {% else %}
                        <p>{{ h.datahora|date:'d/m/Y' }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                <h1>Você ainda não enviou nenhum feedback</h1>
                {% endif %}
                </div>
            </section>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript and dependencies -->
    <script>
        function showSection(section) {
            var div = document.querySelector('main');
            var sections = div.querySelectorAll('section');
            sections.forEach(function (sectionElement) {
                if (sectionElement.id === section) {
                    sectionElement.classList.remove('hide');
                } else {
                    sectionElement.classList.add('hide');
                }
            });
        }

        var hoje = new Date();
        var options = {year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'};

        function myFunction() {
            var x = document.getElementById("areaId").value;

            // Faça uma requisição AJAX para obter os comentários e exibi-los
            $.ajax({
                url: '/obter_feed/' + x + '/',
                type: 'GET',
                success: function (data) {
                    // Limpe os comentários_container
                    $('#feedback-list').empty();

                    // Converta a string JSON de volta para um objeto JavaScript
                    var mails = JSON.parse(data);

                    // Mapeie os objetos para um novo array contendo apenas os campos desejados
                    var mailsFiltrados = mails.map(function (mail) {
                        return {
                            id: mail.pk,
                            area: mail.fields.area,
                            datahora: mail.fields.datahora,
                            descricao: mail.fields.descricao,
                            imagem: mail.fields.imagem,
                            local: mail.fields.local,
                            status: mail.fields.status,
                            titulo: mail.fields.titulo
                        };
                    });

                    // Adicione os comentários filtrados à div
                    mailsFiltrados.forEach(function (mail) {
                        var datahora = new Date(mail.datahora);

                        // Adiciona o comentário à div, limitando a 50 caracteres
                        // var comentarioTexto = comentario.comentario.length > 20 ? comentario.comentario.substring(0, 20) + '...' : comentario.comentario;
                        var divCard = document.createElement('div');
                        divCard.className = 'd-flex card2';
                        divCard.onclick = function() {
                            showDetails(mail.id);
                        };

                        ['p', 'h4', 'p', 'p'].forEach(function(tag, index) {
                            var element = document.createElement(tag);
                            element.className = (index === 0) ? 'status' : (index <= 2) ? 'textinho' : '';
                            
                            if (index === 0) {
                                var cor;
                                var texto = mail.status;
                                if (texto == "2") {
                                    cor = 'blue';
                                } else if (texto == "1") {
                                    cor = 'yellow';
                                } else if (texto == "3") {
                                    cor = 'red';
                                } else if (texto == "4") {
                                    cor = 'green';
                                }
                                element.textContent = "\u2022";
                                element.style.color = cor;
                            } else if (index === 1) {
                                element.textContent = mail.titulo;
                            } else if (index === 2) {
                                element.textContent = mail.descricao;
                            } else {
                                element.textContent = (datahora.toLocaleDateString() === hoje.toLocaleDateString()) ? 
                                datahora.toLocaleTimeString('pt-BR', {hour: '2-digit', minute: '2-digit'}) : 
                                datahora.toLocaleDateString();
                            }
                            divCard.appendChild(element);
                        });

                        // Adicionar divCard ao seu contêiner HTML existente
                        var container = document.getElementById('feedback-list');  // Substitua 'seuContainerId' pelo ID do seu contêiner
                            container.appendChild(divCard);
                    });
                },
                error: function (error) {
                    console.log("amor");
                }
            });
        }

        function limitarCaracteres(texto, limite) {
            return texto.length > limite ? texto.substring(0, limite) + '...' : texto;
        }
        
    function showDetails(id) {
        var modal = document.getElementById('Details');
        modal.style.display = 'flex';

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        
        document.getElementById('texto').value = '';

        // Faça uma requisição AJAX para obter os comentários e exibi-los
        $.ajax({
            url: '/modal_feedback/' + id + '/',
            type: 'GET',
            success: function (data) {

                // Converta a string JSON de volta para um objeto JavaScript
                var feedbacks = JSON.parse(data);

                // Mapeie os objetos para um novo array contendo apenas os campos desejados
                var feedbacksFiltrados = feedbacks.map(function (feed) {
                    return {
                        titulo: feed.fields.titulo,
                        area: feed.fields.area,
                        local: feed.fields.local,
                        descricao: feed.fields.descricao,
                        imagem: feed.fields.imagem,
                        status: feed.fields.status,
                        datahora: feed.fields.datahora,
                    };
                });

                feedbacksFiltrados.forEach(function (feed) {
                    var datahora = new Date(feed.datahora);
                    $('#titulo').text(feed.titulo);
                    $('#datahora2').text(datahora.toLocaleString());
                    $('#area').text(feed.area);
                    $('#local').text(feed.local);
                    $('#descricao').text(feed.descricao);
                    $('#status').text(feed.status);


                    var cor;
                    var status = feed.status;
                    if (status == "Não Respondida") {
                        cor = 'blue';
                    } else if (status == "Em Andamento") {
                        cor = 'yellow';
                    } else if (status == "Não Resolvido") {
                        cor = 'red';
                    } else if (status == "Resolvido") {
                        cor = 'green';
                    }
                    document.getElementById('status').style.color = cor;

                    var imagemElement = document.getElementById('imagem');

                    if (feed.imagem != ''){
                        img = feed.imagem.match(/\/([^/]+)\./)[1];
                        imagemElement.src = img ? '{% static "img/" %}' + img + '.png' : '';
                        imagemElement.parentElement.style.textAlign = 'center';
                    } else {
                        imagemElement.alt = 'Usuário não enviou foto';
                        imagemElement.src = '';
                    }
                });
            
            },
            error: function (error) {
                console.log("abla");
            }
        });

        document.getElementById('feedback_id').value = id;

        // Faça uma requisição AJAX para obter os comentários e exibi-los
        $.ajax({
            url: '/obter_comentarios/' + id + '/',
            type: 'GET',
            success: function (data) {
                // Limpe os comentários_container
                $('#comentarios_container').empty();

                // Converta a string JSON de volta para um objeto JavaScript
                var comentarios = JSON.parse(data);

                // Mapeie os objetos para um novo array contendo apenas os campos desejados
                var comentariosFiltrados = comentarios.map(function (comentario) {
                    return {
                        comentario: comentario.fields.comentario,
                        datahora: comentario.fields.datahora,
                        usuario: comentario.fields.usuario,
                    };
                });

                // Adicione os comentários filtrados à div
                comentariosFiltrados.forEach(function (comentario) {
                    var datahora = new Date(comentario.datahora);

                    // Adiciona o comentário à div, limitando a 50 caracteres
                    // var comentarioTexto = comentario.comentario.length > 20 ? comentario.comentario.substring(0, 20) + '...' : comentario.comentario;

                    var divComentario = $('<div>').addClass('coment'); // Cria uma nova div para cada comentário
                        if (comentario.usuario == 2){
                            divComentario.append('<p id="tipo_usuario">adm</p>'); // Adiciona a hora à div
                        } else if (comentario.usuario != 2){
                            divComentario.append('<p id="tipo_usuario">usuário_comum</p>'); // Adiciona a hora à div
                        }
                        divComentario.append('<p id="datahora">' + datahora.toLocaleString() + '</p>'); // Adiciona a hora à div
                        divComentario.append('<p id="comentario_texto">' + comentario.comentario + '</p>'); // Adiciona o comentário à div
                    $('#comentarios_container').append(divComentario); // Adiciona a div à div principal
                });
            },
            error: function (error) {
                console.log("abla");
            }
        });

        function fecharModal(modal) {
            var modal = document.getElementById(modal);
            modal.style.display = 'none';
        }

        window.onload = function () {
            var textinho = document.querySelectorAll('.textinho')
            textinho.forEach(function (element) {
                var texto = element.textContent;
                element.textContent = limitarCaracteres(texto, 8);
            })

            var status = document.querySelectorAll('.status')
            status.forEach(function (element) {
                var cor;
                var texto = element.textContent;
                if (texto == "Não Respondida") {
                    cor = 'blue';
                } else if (texto == "Em Andamento") {
                    cor = 'yellow';
                } else if (texto == "Não Resolvido") {
                    cor = 'red';
                } else if (texto == "Resolvido") {
                    cor = 'green';
                }
                element.style.color = cor;
                element.textContent = "\u2022";
            })
        }

        var contDiv = document.querySelector('.cont');

        var arrayP = [];

        // Essa função será chamada quando o formulário for enviado para atualizar os campos hidden.
        function atualizarCamposHidden() {

        arrayP.length = 0;
        // Obtenha todos os campos do formulário
        var formElements = document.querySelectorAll('form .questao');

        // Itere pelos campos e adicione as informações aos arrays
        formElements.forEach(function (element) {
            arrayP.push(element.id)
        });
        document.getElementById("arrayP").value = JSON.stringify(arrayP);
    }
</script>
</body>

</html>