@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s ease, opacity;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    border: 2px solid black;
}

:root {
    --container: #483D3F;
    --primary-color: #058ED9;
    --secondary-color: #F4EBD9;
    --complementary-color: #A39A92;
    --contrast-color: #77685D;
}

main {
    flex: 1;
    justify-content: center;
    overflow: auto;
}

.navbar-nav a {
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.navbar-nav a i {
    font-size: 40px;
}

section {
    max-height: 90%;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
}

section.hide {
    opacity: 0;
    transform: translateY(-50px);
    /* Ajuste o valor conforme necessário */
    pointer-events: none;
    /* Impede interações enquanto estiver oculto */
    position: absolute;
    /* Remove o espaço ocupado pela seção oculta */
    display: none;
}

#feedback {
    font-style: var(--container);
    border: none;
    width: auto;
    margin: auto;
    overflow-y: auto;
    max-height: fit-content;
}

.caixa-form {
    border-top: 3px solid var(--container);
    border-bottom: 3px solid var(--container);
    border-left: 0.5px solid var(--container);
    border-right: 0.5px solid var(--container);
    border-radius: 10px;
}

#adc_feedback {
    display: none;
}

#mail {
    width: 100%;
}

.feedback-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
    margin-top: 10px;
}

/* Estilos de rolagem */
.feedback-list::-webkit-scrollbar,
#historic::-webkit-scrollbar {
    width: 8px;
}

.feedback-list::-webkit-scrollbar-thumb,
#historic::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

#historic {
    width: 100%;
    overflow-y: auto;
}

.card {
    cursor: pointer;
    width: 85%;
    border-radius: 15px;
    border: none;
    border: 1px solid var(--complementary-color);
    
    /* padding: 0 0 0 20px; */
}

.status {
    margin-left: 0px;
    border-radius: 10px 0 0 10px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    transition: height 1s ease;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* 15% from the top and centered */
    padding: 20px 15px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-height: 90vh;
    transition: margin-top 1s ease, opacity 5s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    /* Could be more or less, depending on screen size */
}

.modal-content .informacoes {
    overflow-y: auto;
    margin-top: 15px;
    word-wrap: break-word;
}

/* Estilos de rolagem */
.modal-content .informacoes::-webkit-scrollbar {
    width: 8px;
}

.modal-content .informacoes::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

.informacoes form {
margin-top: 20px;
}

#titulo {
    width: 85%;
}

.modal-content .imagem h5 {
    text-align: left;
}

#imagem {
    max-width: 95%;
    text-align: center;
}

#comentarios_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.coment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    position: relative;

}

.coment_com_imagem .datahora {
    top: 30%;
}

.coment_com_imagem .tipo_usuario {
    bottom: 30%;
}

.caixa {
    border-top: 1px solid var(--container);
    border-bottom: 1px solid var(--container);
    border-radius: 10px;
    padding: 10px;
}

.comentario_texto{
    margin-bottom: 0;
}

.coment_imagem {
    max-width: 100%;
    text-align: center;
}


.datahora {
    position: absolute;
    top: 0;
    right: 5px;
    float: right;
    font-size: smaller;
}

.tipo_usuario {
    position: absolute;
    bottom: -15px;
    right: 5px;
    float: right;
    font-size: smaller;
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para telas menores (móveis) */
@media only screen and (max-width: 768px) {

    .navbar-nav a {
        padding: 5px;
        text-align: center;
    }

    .navbar-nav a i {
        border-radius: 0px;
        padding: 2%;
        font-size: 20px;
    }

    #adc_feedback {
        display: block;
        position: absolute;
        right: 30px;
        bottom: 30px;
        padding: 4% 5%;
        z-index: 1;
    }

    #icone_feedback {
        display: none;
    }

    #feedback {
        font-size: 0.9em;
        width: 80%;
    }

    #feedback h1 {
        font-size: 1.6em;
    }

    #feedback .mb-3 {
        margin-bottom: 0.5em !important;
    }

    .card {
        /* justify-content: space-between; */
        /* cursor: pointer; */
        width: 75%;
        border: none;

        border: 1px solid var(--complementary-color);
        padding: 0 10px 0 20px;
    }

    .modal-content #titulo {
        font-size: 1.85em;
    }

    .informacoes {
        overflow-y: auto;
    }

    #comentarios_container .coment_com_imagem {
        margin-bottom: 15px;
    }

    .coment_com_imagem .datahora {
        top: 0;
    }

    .datahora {
        position: absolute;
        top: 0;
        right: 5px;
        float: right;
        margin-bottom: 3px;
    }

    .tipo_usuario {
        position: static;
        margin-bottom: 3px;
    }
}