<nav id="navbar_pc" class="navbar navbar-expand-md navbar-dark bg-primary" style="display: none;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-0 me-md-auto fw-bold" href="#">
            Col@bore!
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a onclick="showSection('feedback')" id="icone_feedback"
                        class="icone fw-bold text-white d-flex flex-column justify-content-center align-items-center"><i
                            class="uil uil-file-search-alt"></i>Formulário</a>
                </li>
                {% if Eadm %}
                <li class="nav-item">
                    <a onclick="showSection('mail')" id="icone_mail"
                        class="icone d-flex flex-column justify-content-center align-items-center"><i
                            class="uil uil-envelope"></i>Setor</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a onclick="showSection('historic')" id="icone_historic"
                        class="icone d-flex flex-column justify-content-center align-items-center"><i
                            class="uil uil-copy-landscape"></i>Histórico</a>
                </li>
            </ul>
            <div class="col-md-2 text-md-end">
                {% if user.is_authenticated %}
                <a href="#" class="btn btn-outline-light" role="button" id="logout">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>