<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <title>Responder Questionário</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .shaded-box {
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
        }

        input[type="radio"] {
            border: 2px solid black;
        }
    </style>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body class="bg-success.bg-gradient">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        {% load static %}
                        <img src="{% static '/images/logo.png' %}" alt="mdo" width="35" height="35" class="">
                    </a>
                </li>
            </ul>
            <div class="d-flex gap-2">
                <div class="flex-fill">
                    <style>
                        .btn-custom {
                            width: 100px;
                        }
                    </style>
                    <button type="button" class="btn btn-warning btn-custom">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            Admin
                        </a>
                    </button>
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-danger btn-custom">
                        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar" style="width: 25%;">
        <div class="sidebar-heading">Menu</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Link 1</a>
            <a href="#" class="list-group-item list-group-item-action">Link 2</a>
            <a href="#" class="list-group-item list-group-item-action">Link 3</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content" class="container mt-4 d-flex flex-row" style="margin-left: 25%;">
        <!-- O conteúdo da sua página vai aqui -->
    </div>

    

        

        <div class="container d-flex flex-column align-items-center ms-25">
            <div id="Feedback" class="form-container p-4 rounded shaded-box col-md-6">
                <form method="POST" action="{% url 'salvarAnswer' %}" onsubmit="atualizarCamposHidden()"
                    class="bg-light p-4 rounded">
                    {% csrf_token %}
                    <div class="mb-1 d-flex flex-column align-items-center">
                        <h1 class="mb-4">{{ u_questionario.nome }}</h1>
                    </div>
                    {% for quest in quests %}
                    <div class="mb-3">
                        {% if quest.tipo.tipo == "text" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.title }}</label>
                        <input type="text" name="{{ quest.id }}" id="{{ quest.id }}" placeholder="{{ quest.title }}"
                            class="form-control" required>
                        {% elif quest.tipo.tipo == "textarea" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.title }}</label>
                        <textarea id="{{ quest.id }}" name="{{ quest.id }}" rows="4" cols="50" class="form-control"
                            required></textarea>
                        {% elif quest.tipo.tipo == "selectbox" or quest.tipo.tipo == "select" %}
                        <label for="{{ quest.id }}" class="form-label bold">{{ quest.title }}</label>
                        <select name="{{ quest.id }}" class="form-select" required>
                            {% for alternative in quest.alternativa_set.all %}
                            <option value="{{ alternative.title }}">{{ alternative.title }}</option>
                            {% endfor %}
                        </select>
                        {% elif quest.tipo.tipo == "radio" %}
                        <p class="bold">{{ quest.title }}</p>
                        <input type="hidden" id="{{ quest.id }}">
                        {% for alternative in quest.alternativa_set.all %}
                        <div class="form-check">
                            <input type="radio" name="{{ quest.id }}" value="{{ alternative.title }}"
                                id="alt_{{ alternative.id }}" class="form-check-input">
                            <label for="alt_{{ alternative.id }}" class="form-check-label">{{ alternative.title
                                }}</label>
                        </div>
                        <input type="hidden" name="feedback" value="0">
                        {% endfor %}
                        {% elif quest.tipo.tipo == "checkbox" %}
                        <p class="bold">{{ quest.title }}</p>
                        <input type="hidden" id="{{ quest.id }}">
                        {% for alternative in quest.alternativa_set.all %}
                        <div class="form-check">
                            <input type="checkbox" name="{{ quest.id }}" value="{{ alternative.title }}"
                                id="alt_{{ alternative.id }}" class="form-check-input">
                            <label for="alt_{{ alternative.id }}" class="form-check-label">{{ alternative.title
                                }}</label>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="arrayP" id="arrayP" value="">
                    <input type="hidden" name="idQuestionario" id="idQuestionario" value="{{ u_questionario.id }}">
                    <div class="d-flex flex-column align-items-center">
                        <button type="submit" class="btn btn-primary">Enviar Resposta</button>
                    </div>
                </form>
            </div>

            <div id="History" class="form-container p-4 rounded shaded-box col-md-6" style="display: none;">
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
        <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function mostrarFeedback() {
            document.getElementById("Feedback").style.display = "block";
            document.getElementById("History").style.display = "none";

            // Define a cor do ícone Feedback como azul e History como cinza
            document.getElementById("iconFeedback").style.color = "blue";
            document.getElementById("iconHistory").style.color = "gray";
        }

        // Função para mostrar a tela History e ocultar a tela Feedback
        function mostrarHistory() {
            document.getElementById("Feedback").style.display = "none";
            document.getElementById("History").style.display = "block";

            // Define a cor do ícone History como azul e Feedback como cinza
            document.getElementById("iconFeedback").style.color = "gray";
            document.getElementById("iconHistory").style.color = "blue";
        }

        var arrayP = [];

        // Essa função será chamada quando o formulário for enviado para atualizar os campos hidden.
        function atualizarCamposHidden() {

            arrayP.length = 0;
            // Obtenha todos os campos do formulário
            var formElements = document.querySelectorAll('form input[type="text"], form textarea, form select, form input[type="hidden"]');

            // Itere pelos campos e adicione as informações aos arrays
            formElements.forEach(function (element) {
                arrayP.push(element.id)
            });
            arrayP.splice(0, 1); // Remove 3 elementos a partir do índice 1 (valores 2, 3, 4)
            // Atualize os campos hidden com os arrays
            arrayP.pop()
            arrayP.pop()
            document.getElementById("arrayP").value = JSON.stringify(arrayP);
        }
    </script>
</body>

</html>