* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 2s ease, opacity;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --container: #483D3F;
    --primary-color: #058ED9;
    --secondary-color: #F4EBD9;
    --complementary-color: #A39A92;
    --contrast-color: #77685D;
}

main {
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

/* Estilos de rolagem */
main::-webkit-scrollbar {
    width: 8px;
}

main::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

.navbar-nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

section {
    max-height: 90%;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
}

section.hide {
    opacity: 0;
    transform: translateY(-50px);
    /* Ajuste o valor conforme necessário */
    pointer-events: none;
    /* Impede interações enquanto estiver oculto */
    position: absolute;
    /* Remove o espaço ocupado pela seção oculta */
    display: none;
}

#feedback {
    font-style: var(--container);
    border: none;
    width: auto;
}

#feedback form {
    border-radius: 20px;
    background-color: var(--complementary-color);
}

#mail {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mail #feedback-list {
    display: flex;
    flex-direction: column;
}

#texto-mail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#historic {
    width: 100%;
}

.card2 {
    cursor: pointer;
    width: 500px;
}

.card2 {
    background-color: var(--complementary-color);
    font-style: var(--container);
    border-radius: 10px;
    border: none;
    padding: 15px 40px 0px;
}

.card2 .h {
    align-items: center;
}

.perfil{
    background-color: var(--complementary-color);
    border-radius: 50%;
    pointer-events: all;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s ease;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 30%;
    max-height: 70vh;
    transition: margin-top 1s ease, opacity 5s ease;
    /* Could be more or less, depending on screen size */
}

/* The Modal (background) */
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    transition: height 1s ease;
}

/* Modal Content/Box */
.modal-content2 {
    background-color: #fefefe;
    margin: 2% auto auto auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-height: 90vh;
    transition: margin-top 1s ease, opacity 5s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    /* Could be more or less, depending on screen size */
}

.modal-content2 .informacoes {
    overflow-y: auto;
}

/* Estilos de rolagem */
.modal-content2 .informacoes::-webkit-scrollbar {
    width: 8px;
}

.modal-content2 .informacoes::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

#comentarios_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.coment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    position: relative;
}

#comentario_texto{
    background-color: var(--complementary-color);
    border-radius: 10px;
    padding: 0.6% 2% 1% 1%;
}

#datahora {
    position: absolute;
    top: 0;
    right: 5px;
    float: right;
    font-size: smaller;
}

#tipo_usuario {
    position: absolute;
    bottom: 0;
    right: 5px;
    float: right;
    font-size: smaller;
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 16px;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para telas menores (móveis) */
@media only screen and (max-width: 768px) {
    
    .navbar-nav a {
        padding: 5px;
        text-align: center;
    }

    #feedback {
        font-size: 0.95em;
        width: 80%;
    }

    #feedback h1 {
        font-size: 1.7em;
    }

    #texto-mail{
        position: static;
        transform: translate(0%, 0%);
    }
    
    .card2 {
        width: 200px;
    }
    
    .card2 {
        padding: 15px 15px 0px 15px;
    }

    .card2 .h, .card2 .b {
        flex-direction: column;
    }

    .card2 .h {
        flex-direction: column;
        align-items: start;
    }

    .card2 .h p {
        font-size: 0.8em;
    }

    .card2 .b p {
        font-size: 1.05em;
        text-align: center;
    }

    /* Modal Content/Box */
    .modal-content {
        width: 80%;
        max-height: 70vh;
        font-size: 1.1em;
        padding-bottom: 1px;
    }

    .modal-content #titulo {
        font-size: 1.85em;
    }

    .informacoes {
        overflow-y: auto;
    }
}